#menu {
			padding-left: 0;
			height: 42px;
			background: green
		}
.item{
	list-style: none;
	float: left;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.item1{
	list-style: none;
	float: right;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 15px;
}
.item a{
	text-decoration: none;
	color: white;
}
.item1 a{
	color: white;
}
.submenu{
	display: none;
	padding-left: 0;
	width: 190px;
	left: 0;
	background: #33ff33;
	position: absolute;
}
.item:hover .submenu {
	display: block
}

.item:hover .submenu .item {
	float: none;
	padding-left: 10px;
	padding-right: 0
}
.item2 {
	list-style: none;
	float: left;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.item2 a{
	color: black;
}

.submenu2{
	display: none;
	padding-left: 0;
	width: 168px;
	left: 0;
	background: #33ff33;
	position: absolute;
}
.item:hover .submenu2 {
	display: block
}

.item:hover .submenu2 .item {
	float: none;
	padding-left: 10px;
	padding-right: 0;
	}
.item3 {
	list-style: none;
	float: left;
	line-height: 42px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.item3 a{
	color: black;



